body {
    --shadow-color: #bbb;
    --shadow-color-heavy: #999;
    --shadow-color-strong: #777;
    --global-font-family: -apple-system, Roboto, SegoeUI, 'Segoe UI', 'Helvetica Neue', Helvetica, 'Microsoft YaHei', 'Meiryo UI', Meiryo, Arial Unicode MS, sans-serif;
    --global-font-weight: 400;
    --content-bg-color: #f3e3c3;
    --content-text-color: #000;
    --content-text-size-rate: 1;
    --content-view-width: 100vw;
    --content-view-height: 100vh;
    --global-bg-color: var(--content-bg-color);

    --bar-bg-color: #666;
    --bar-text-color: #fff;

    --turn-button-height: calc(100vh / 7);
    --turn-button-width: calc(100vw / 6);

    --safe-left: 0;
    --safe-right: 0;
    --safe-top: 0;
    --safe-bottom: 0;

    font-weight: var(--global-font-weight);
    margin: 0 0 0 0;
    background-color: var(--global-bg-color);
}
@supports (top: constant(safe-area-inset-top)) or (top: env(safe-area-inset-top)) {
    body {
        --safe-left: constant(safe-area-inset-left);
        --safe-left: env(safe-area-inset-left);
        --safe-right: constant(safe-area-inset-right);
        --safe-right: env(safe-area-inset-right);
        --safe-top: constant(safe-area-inset-top);
        --safe-top: env(safe-area-inset-top);
        --safe-bottom: constant(safe-area-inset-bottom);
        --safe-bottom: env(safe-area-inset-bottom);
    }
}
html,body {
    --base-font-size: 13.57px;
}
@media screen and (orientation:portrait) {
    html:not([d-pc]),:not([d-pc]) body {
        --base-font-size: calc(100vw / 24);
    }
}
@media screen and (orientation:landscape) {
    html:not([d-pc]),:not([d-pc]) body {
        --base-font-size: calc(100vh / 24);
    }
}
html, body {
    font-size: var(--base-font-size);
}
body * {
    font-family: var(--global-font-family);
    outline: none;
}
.app {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.scroll-view {
    flex-grow: 1;
    overflow: auto;
    position: relative;
    z-index: 100;
}
.content-box {
    display: block;
    padding: 0.5em;
    box-sizing: border-box;
    min-height: 100%;
    margin: var(--safe-top) var(--safe-right) 0 var(--safe-left);
    z-index: 100;
    position: relative;
    color: var(--content-text-color);
    background-color: var(--content-bg-color);
    outline: none;
    font-size: calc(var(--base-font-size, 17.75px) * var(--content-text-size-rate, 1))
}
.bottom-bar {
    display: inline-block;
    padding: 0.5em 0;
    background-color: var(--bar-bg-color);
    color: var(--bar-text-color);
    border: 0;
    text-align: center;
}
.turn-bar {
    position: fixed;
    top: 0;
    height: var(--turn-button-height);
    left: 0;
    right: 0;
    background: none;
    z-index: 400;
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.turn-bar[d-bottom] {
    top: calc(var(--content-view-height) - var(--turn-button-height)) !important;
}
.turn-button {
    background-color: #000;
    color: #fff;
    height: var(--turn-button-height);
    width: var(--turn-button-width);
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
}
